
.a{
    background-color: red;
}
.b{
    background-color:white;
    

}
.c{
    background-color: grey;
}
.d{
    background-color: blue;
}
.w{
    hight: 50px;
}
e{
    background-color: yellow;
}
/* prod*/
weight: 30px